* {
    font-family: 'Roboto', sans-serif;
}

h1 {
    margin-bottom: 40px;
}

h2 {
    margin-bottom: 20px;
}

p {
    margin-bottom: 40px;
}

form {
    background-color: rgba(189, 189, 189, 0.10);
    border-left: 2px solid #4CAF50;
    border-right: 2px solid #4CAF50;
    padding: 5%;
    text-align: left;
    text-shadow: 0 1px 2px rgba(255, 255, 255, 0.2);
}

.form-control {
    border-color: rgba(189, 189, 189, 0.9);
}

.form-group {
    margin-bottom: 20px;
}

.form-group h3 {
    margin: 10px 0px;
}

.container {
    padding-left: 5%;
    padding-right: 5%;
}

.form-subtext {
    color: hsl(0, 0%, 46%)
}