
  * {
    font-family: 'Roboto', sans-serif;
}

  th {
    font-size: 20px;
    text-align: center;
  }

  td {
    font-size: 18px;
  }

  .table td {
    text-align: center;   
 }

/* Responsive Font Sizing   */

@media only screen and (max-width: 768px) {
    .jumbotron {
      background-size: 100% auto contain;
    }

    table {
      margin-left: auto;
      margin-right: auto;
      width: 100%;
    }

    th {
        font-size: 15px;
    }
    
    td {
        font-size: 15px;
    }
    
}

@media only screen and (max-width: 375px) {

  .jumbotron {
    background-size: contain;
  }
  
  .container-fluid {
    padding-left: 0;
    padding-right: 0;
  }

}