* {
    font-family: 'Roboto', sans-serif;
}

h1 {
    margin-top: 25px;
    margin-bottom: 20px;
}

h2 {
    margin-top: 5px;
    margin-bottom: 0px;
}

img {
    width: 400px;
    height: auto;
}

.jumbotron{
    background: url('../img/hero.jpg') no-repeat center center;
    background-size: cover;
    color: white;
    height: 50vh;
}

.jumbotron h1 {
    margin-left: 10%;
}

.btn {
    margin-bottom: 20px;
}

.active {
    color: green;
}

/* Image CSS */

.lake-thumb {
    margin: 0 0 10%;
}


/* Classes to modify old or current data */
.data-old {
    color: red;
}

.data-current {
    color: black;
}


.lakeCard {
    display: flex;
    justify-content: space-between;
}


.delta {
    font-size: 18px;
}

.lakeName {
    font-size: 24px;
    color: green;
}