* {
    font-family: 'Roboto', sans-serif;
    /* color: #212121; */
}

.nav-color-splash {
    background-color: #4CAF50;
    width: 100%;
    height: 5px;
}

.header-title {
    font-weight: bold;
    margin-top: 5px;
    margin-bottom: 2px;
}

.container {
    padding-top: 10px;
}

h2 {
    margin-top: 2px;
    margin-bottom: 0px;
}

.btn {
    margin-bottom: 0px;
}

.btn-success {
    background-color: #4CAF50;
    border-color: #4CAF50;
}

.btn:hover {
    margin-top: -1px;
    margin-bottom: 1px;
    box-shadow: 0 2px 4px rgba(0,0,0,0.18);
}

.active {
    color: #4CAF50;
}


/* Classes to modify old or current data */
.data-old {
    color: red;
}

.data-current {
    color: black;
}


.lakeCard {
    display: flex;
    justify-content: space-between;
}


.delta {
    font-size: 24px;
}

/* thisLake Styles */

.lakeName {
    font-size: 24px;
    color: #4CAF50;
}

.brand-savvy {
    color: #4CAF50;
}

.current-wrapper {
    margin-left: auto;
    margin-right: auto;
    background-color: #4CAF50;
    background-image: linear-gradient(hsl(112, 39%, 49%), hsl(137, 43%, 39%));
    color: white;
    text-shadow: 0 1px 2px rgba(0,0,0,0.20);
    padding: 5px;
    width: 90%;
    border-radius: 3px;
    box-shadow: 0px 2px 4px rgba(0,0,0,0.18);
}

.current-wrapper h1 {
    color: #FFFFFF;
}

.current-subtext {
    margin-bottom: 0px;
    color: hsl(137, 20%, 92%);
}

#currentNormal {
    color: hsl(137, 20%, 92%);
}

/* @media only screen and (max-width: 400px) {
    .current-wrapper {
      padding-top: 70px;
      width: 300px;
      height: 300px;
    }
  } */


/* Lake Table */

.lake-link {
    color: black;
}

.lake-hr {
    color: #4CAF50;
}

.lake-table {
    margin-bottom: 30px;
}

.lake-table td {
    padding: 1px;
}

.lake-table a {
    margin-bottom: 0;
    display: block;
    text-decoration: none;
}

.lake-table a:hover {
    color: black;
}

.lake-table h5 {
    margin: 0;
}

.lake-table h5:hover {
    background-color: rgba(204, 204, 204, 0.2);
}


/* Cards on Home Page */
.card-home {
    margin-bottom: 20px;
    box-shadow: 0px 2px 4px rgb(0,0,0,0.10);
    -webkit-box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.10);
}

.card-home:hover {
    margin-bottom: 21px;
    margin-top: -1px;
    box-shadow: 0px 2px 4px rgb(0,0,0,0.20);
    -webkit-box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.20);
}

.card-link {
    text-decoration: none;
    color: black;
}

.card-link:hover {
    color: black;
}

.request-banner {
    border: 1px solid #4CAF50;
    padding: 10px;
    width: 75%;
    margin: 5px auto;
    border-radius: 3px;
}


/* Advertisements */
/* ======================================================= */
.ad-logo {
    width: 75%;
    height: auto;
    margin-bottom: 10px;
}

.banner {
    background-color: rgba(199, 199, 199, 0.3);
    width: 70%;
    height: auto;
    position: fixed;
    bottom: 5px;
    left: 15%;
}

.fa-window-close {
    position: absolute;
    right: 0;
    top: 0;
    cursor: pointer;
    color: white;
}

.ad-footer-img {
    width: 100%;
    height: auto;
}

 @media only screen and (max-width: 400px) {
     .ad-logo, .banner {
         width: 90%;
     }

     .banner {
         left: 5%;
     }
 }


