* {
    font-family: 'Roboto', sans-serif;
    /* color: #212121; */
}

body {
    padding-bottom: 10%;
}

.container {
    padding-top: 20px;
}

.container-fluid {
    padding-top: 20px;
}

h1, h2, h3 {
    margin: 10px;
}

.btn {
    margin-bottom: 0px;
}

.btn-success {
    background-color: #4CAF50;
    border-color: #4CAF50;
}

.btn:hover {
    margin-top: -1px;
    margin-bottom: 1px;
    box-shadow: 0 2px 4px rgba(0,0,0,0.18);
}

.active {
    color: #4CAF50;
}

.header-title {
    font-weight: bold;
}

/* Navbar Styles */
/* ================================================================ */

.nav-color-splash {
    background-color: #4CAF50;
    width: 100%;
    height: 5px;
}

.navbar-collapse a {
    color: rgba(0,0,0,.5);
}

.navbar-collapse a:hover {
    text-decoration: none;
    color: rgba(0,0,0,.7);
}

.navbar-collapse i {
    color: #4267b2;
}

.navbar-collapse i:hover {
    color: #3a5a9b;
}

/* .navbar-brand h2 {
    margin-bottom: 0px;
} */

.brand-savvy {
    color: #4CAF50;
}

@media only screen and (max-width: 991px) {
    .social-navItem {
        margin-top: 10px;
    }
}

/* .lakeCard {
    display: flex;
    justify-content: space-between;
} */

/* Lakes Styles */
/* ================================================================ */
.state-container {
    margin-top: 30px;
    padding: 0px 0px 20px;
    border-radius: 3px;
}

.state-select-wrapper {
    padding-left: 20%;
    padding-right: 20%;
    padding-bottom: 20px;
    border-bottom: 2px solid rgba(199, 199, 199, 0.3);
}


@media only screen and (max-width: 400px) {
    .state-select-wrapper {
        padding-left: 0;
        padding-right: 0;
    }
}

.state-title {
    margin: 0px;
    padding: 10px 10px 20px;
}

.btn-state-submit {
    margin-top: 10px;
    width: 100%;
}

.btn-state-submit:hover {
    margin-bottom: 2px;
    margin-top: 8px;
}

/* Lake Table */

.lake-link {
    color: black;
}

.lake-hr {
    color: #4CAF50;
}

.lake-table {
    margin-bottom: 30px;
}

.lake-table td {
    padding: 1px;
}

.lake-table a {
    margin-bottom: 0;
    display: block;
    text-decoration: none;
}

.lake-table a:hover {
    color: black;
}

.lake-table h5 {
    margin: 0;
    padding: 0px 10px;
}

.lake-table h5:hover {
    background-color: rgba(76, 175, 80, 0.2);
}


/* thisLake Styles */
/* ================================================================ */

.lakeName {
    font-size: 24px;
    color: #4CAF50;
}

.data-old {
    color: red;
    margin-bottom: 10px;
}

#adLogoWell {
    height: auto;
    margin-bottom: 10px;
}

.current-wrapper {
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 20px;
    background-color: #4CAF50;
    background-image: linear-gradient(hsl(112, 39%, 49%), hsl(137, 43%, 39%));
    color: white;
    text-shadow: 0 1px 2px rgba(0,0,0,0.20);
    padding: 5px;
    width: 90%;
    border-radius: 3px;
    box-shadow: 0px 2px 4px rgba(0,0,0,0.18);
}

.current-wrapper h1 {
    color: #FFFFFF;
    margin: 5px;
}

.current-header-title {
    font-weight: bold;
}

.current-subtext {
    margin: 5px;
    color: hsl(137, 20%, 92%);
    font-size: 14px;
}

.current-subtext-delta {
    margin-top: -5px;
    font-size: 24px;
}

#currentNormal {
    color: hsl(137, 20%, 92%);
}

/* Chart Styles */
.chart-container {
    width: 90vw;
    position: relative;
    margin-bottom: 90px;
    margin-top: 70px;
}



@media only screen and (min-width: 1023px) {
    .chart-container {
        width: 75vw;
        margin-left: auto;
        margin-right: auto;
    }
}

/* Cards on Home Page */
.card-home {
    margin-bottom: 20px;
    box-shadow: 0px 2px 4px rgb(0,0,0,0.10);
    -webkit-box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.10);
}

.card-home:hover {
    margin-bottom: 21px;
    margin-top: -1px;
    box-shadow: 0px 2px 4px rgb(0,0,0,0.20);
    -webkit-box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.20);
}

.card-link {
    text-decoration: none;
    color: black;
}

.card-link:hover {
    color: black;
}

.request-banner {
    border: 1px solid #4CAF50;
    padding: 10px;
    width: 75%;
    margin: 5px auto;
    border-radius: 3px;
}


/* Advertisements */
/* ======================================================= */
.ad-logo {
    width: 40%;;
    height: auto;
    margin-bottom: 10px;
}

/* Ad Bottom Banner Styles */
    .ad-bottom-banner {
        position:fixed; 
        bottom: 0; 
        width: 100%; 
        height: 60px;
    }

    .ad-scroller-img {
        width: 80px;
        height: 60px;
        margin-right: 20px;
        /* padding: 0px 20px; */
    }

/* Scrolling Banner Styles */
    #scroller {
        position: relative;
        width: 100%; 
        height: 60px; 
        margin: 0 auto;
    }
    #scroller .innerScrollArea {
        overflow: hidden !important;
        position: absolute;
        left: 0;
        right: 0;
        top: 0;
        bottom: 0;
    }
    #scroller ul {
        padding: 0;
        margin: 0;
        position: relative;
    }
    #scroller li {
        padding: 0;
        margin: 0;
        list-style-type: none;
        position: absolute;
    }
    

    /* Gif Loading Icon Styles */
    #lds-ring {
        display: inline-block;
        position: relative;
        width: 44px;
        height: 44px;
        margin: 0px -2px -7px 0px;
      }
      #lds-ring div {
        box-sizing: border-box;
        display: block;
        position: absolute;
        width: 31px;
        height: 31px;
        margin: 6px;
        border: 3px solid #fff;
        border-radius: 50%;
        animation: lds-ring 1.2s cubic-bezier(0.5, 0, 0.5, 1) infinite;
        border-color: #fff transparent transparent transparent;
      }
      #lds-ring div:nth-child(1) {
        animation-delay: -0.45s;
      }
      #lds-ring div:nth-child(2) {
        animation-delay: -0.3s;
      }
      #lds-ring div:nth-child(3) {
        animation-delay: -0.15s;
      }
      @keyframes lds-ring {
        0% {
          transform: rotate(0deg);
        }
        100% {
          transform: rotate(360deg);
        }
      }
      


/***
/* Responsive Styles */

    @media only screen and (max-width: 768px) {
        .ad-logo {
            width: 60%;
        }
    }

    @media only screen and (max-width: 480px) {
     .ad-logo {
         width: 90%;
     }
 }
