* {
    font-family: 'Roboto', sans-serif;
}
/* 
hr {
    height: 1px;
    color: #28a745;
    background-color: #28a745;
    border: none;
    } */

.header-title {
    font-weight: bold;
    margin-top: 5px;
    margin-bottom: 2px;
}

.container {
    padding-top: 10px;
}

h2 {
    margin-top: 2px;
    margin-bottom: 0px;
}

.btn {
    margin-bottom: 0px;
}

.active {
    color: #28a745;
}


/* Classes to modify old or current data */
.data-old {
    color: red;
}

.data-current {
    color: black;
}


.lakeCard {
    display: flex;
    justify-content: space-between;
}


.delta {
    font-size: 18px;
}

/* thisLake Styles */

.lakeName {
    font-size: 24px;
    color: #28a745;
}

.brand-savvy {
    color: #28a745;
}

.current-wrapper {
    margin-left: auto;
    margin-right: auto;
    background-color: #28a745;
    color: white;
    padding: 5px;
    width: 90%;
}

.current-subtext {
    margin-bottom: 0px;

}

/* @media only screen and (max-width: 400px) {
    .current-wrapper {
      padding-top: 70px;
      width: 300px;
      height: 300px;
    }
  } */


/* Lake Table */

.lake-link {
    color: black;
}

.lake-hr {
    color: #28a745;
}

.lake-table {
    margin-bottom: 30px;
}

.lake-table td {
    padding: 1px;
}

.lake-table a {
    margin-bottom: 0;
    display: block;
    text-decoration: none;
}

.lake-table a:hover {
    color: black;
}

.lake-table h5 {
    margin: 0;
}


/* Cards on Home Page */
.card-home {
    margin-bottom: 20px;
    box-shadow: 1px 1px rgb(0,0,0,0.3);
    -webkit-box-shadow: 1px 1px rgba(0, 0, 0, 0.3);
}

.card-home:hover {
    box-shadow: none;
}

.card-link {
    text-decoration: none;
    color: black;
}

.card-link:hover {
    color: black;
}
