.parameter-well {
    width: 90%;
    height: auto;
    border: 1px solid #4CAF50;
    margin: 0px auto 10px;
    padding: 5px;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: flex-start;
    flex-wrap: wrap;
}

.parameter {
    font-size: 16px;
    border: 1px solid black;
    padding: 5px;
    margin: 5px;
}

.filter-btn {
    margin-bottom: 20px;
}

.filter-btn:hover {
    margin-bottom: 21px;
    margin-top: -1px;
}

.clickable-row { 
    cursor: pointer; 
    background-color: rgba(76, 175, 80, 0.3);
}

.clickable-row:hover {
    background-color: rgba(76, 175, 80, 0.5);
}

.results-clickable-row {
    cursor: pointer;
    background-color: rgba(255, 72, 66, 0.3)
}

.results-clickable-row:hover {
    background-color: rgba(255, 72, 66, 0.5);
}

